[submodule ".vim/bundle/SrcExpl"]
	path = .vim/bundle/SrcExpl
	url = git@github.com:wenlongche/SrcExpl.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule ".vim/bundle/Trinity"]
	path = .vim/bundle/Trinity
	url = git@github.com:wenlongche/Trinity.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule ".vim/bundle/highlight.vim"]
	path = .vim/bundle/highlight.vim
	url = git@github.com:vim-scripts/highlight.vim.git
[submodule ".vim/bundle/jellybeans.vim"]
	path = .vim/bundle/jellybeans.vim
	url = git@github.com:nanotech/jellybeans.vim.git
[submodule ".vim/bundle/mru"]
	path = .vim/bundle/mru
	url = git@github.com:yegappan/mru.git
